.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  overflow-y: scroll;
  padding: 0 16px;
  list-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  width: 60%;
}

.itemMe {
  align-self: flex-end;
}

.emptyMessage {
  color: var(--font-alt-color);
  font-size: 20px;
  margin: auto;
}
