.message-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  padding: 0 16px;
  list-style: none;
}

.message-list__item {
  width: 60%;

  &--me {
    align-self: flex-end;
  }
}
