.message-item {
  padding: 8px;
  border-radius: 8px 8px 8px 0;
  background-color: var(--border-color);
  font-size: 12px;
  line-height: 16px;

  &--me {
    border-radius: 8px 8px 0 8px;
    background-color: var(--accent-color);
    color: var(--font-light-color);
  }
}

.message-item__time {
  width: 100%;
  display: inline-block;
  text-align: right;
  color: var(--placeholder-color);
}

.message-item--me .message-item__time {
  color: var(--border-color);
}

.message-item__text {
  margin: 0 0 8px;
}


