.item {
  padding: 8px;
  border-radius: 8px 8px 8px 0;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--border-color);
  display: flex;
  gap: 12px;
}

.itemMe {
  border-radius: 8px 8px 0;
  color: var(--font-light-color);
  background-color: var(--accent-color);
}

.time {
  color: var(--placeholder-color);
  align-self: end;
}

.itemMe .time {
  color: var(--border-color);
}

.text {
  margin: 0;
  flex-grow: 1;
  word-break: break-all;
}
