<div class="chat-head">
  <div class="chat-head__user">
    {{> base/Avatar/Avatar size=48}}
    <span class="chat-head__username">Вадим</span>
  </div>
  <div class="chat-head__controls">
    {{> base/Button/Button
      text="Добавить пользователя"
      class="chat-head__btn"
      mode="alt"
      icon="base/Icons/AddIcon"
    }}
    {{> base/Button/Button
      text="Удалить пользователя"
      class="chat-head__btn"
      mode="alt"
      icon="base/Icons/RemoveIcon"
    }}
  </div>
</div>
