.input {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid var(--border-color);
  border-color: var(--border-color);
  border-radius: 6px;
  background-color: transparent;
  outline: 2px solid transparent;
  transition: outline-color var(--transtition-duration);

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:hover {
    outline-color: var(--border-hover-color);
  }

  &:focus {
    outline-color: var(--border-focus-color);
  }

  &:invalid,
  &Error {
    outline-color: var(--error-color);
  }
}
