.chat {
  background-color: var(--bg-content-color);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.chat--empty {
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.chat__empty-message {
  color: var(--font-alt-color);
  font-size: 20px;
}


.chat__message-list {
  flex-grow: 1;
}
