<div class="chat {{#if false}}chat--empty{{/if}}">
  {{#if true}}
    {{> MessageList/MessageList class="chat__message-list"}}
    {{> MessageForm/MessageForm class="chat__message-form"}}
  {{else}}
    <span class="chat__empty-message">Выберите чат, чтобы отправить сообщение</span>
  {{/if}}
</div>
