.chat-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-head__user {
  display: flex;
  gap: 16px;
  align-items: center;
}

.chat-head__controls {
  display: flex;
  gap: 16px;
  height: 100%;
}
