<div class="chat-head">
  <span class="chat-head__username">Вадим</span>
  <div class="chat-head__controls">
    <button class="chat-head__btn">Добавить пользователя</button>
    <button class="chat-head__btn">Удалить пользователя</button>
  </div>
</div>
