<ul class="chat-list">
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
  <li>{{> ChatItem/ChatItem}}</li>
</ul>
