<div class="page-container">
  <main class="{{styles.container}}">
    <h1 class="{{styles.title}}">Что-то пошло не так!</h1>
    <p class="{{styles.descr}}">Мы уже чиним! Попробуйте зайти чуть позже</p>
    {{{returnLink}}}
  </main>
</div>
