<div class="profile-form-field">
  <label for="input-{{name}}" class="profile-form-field__label">{{label}}</label>
  {{> base/Input/Input half-width="true"}}
  {{#if helper-text}}
    <span class="profile-form-field__helper-text">{{helper-text}}</span>
  {{/if}}
</div>
