@import "src/components/base/Avatar/avatar";
@import "src/components/PageHeader/page-header";
@import "../../components/chat/ChatSearch/chat-search";
@import "../../components/chat/ChatHead/chat-head";
@import "../../components/chat/ChatList/chat-list";
@import "../../components/chat/ChatItem/chat-item";
@import "../../components/chat/MessageForm/message-form";
@import "../../components/chat/ChatBody/chat-body";

.main {
  display: grid;
  flex-grow: 1;
  grid-template-areas:
    "chat-search chat-head"
    "chat-list chat";
  grid-template-rows: auto 1fr;
  grid-template-columns: 320px 1fr;
  gap: 16px 32px;
  max-height: calc(100vh - 96px); // 96 - высота header
  padding: 16px 32px 32px;
}

.chat-search {
  grid-area: chat-search;
}

.chat-head {
  grid-area: chat-head;
}

.chat-list {
  grid-area: chat-list;
}

.chat {
  grid-area: chat;
}
