---
title: LetChat
styles: ./index.scss
---
{{!< Document}}
{{> Header/Header}}
<main class="main">
  {{> ChatSearch/ChatSearch}}
  {{> ChatHead/ChatHead}}
  {{> ChatList/ChatList}}
  {{> Chat/Chat}}
</main>
