---
title: LetChat
styles: ./index.scss
---
{{!< Document}}
{{> Header/Header}}
<main class="main">
  {{> ChatSearch/ChatSearch}}
  {{> ChatHead/ChatHead}}
  <div class="list"></div>
  <div class="chat"></div>
</main>
