---
title: LetChat
styles: ./index.scss
---
{{!< Document}}
{{> PageHeader/PageHeader}}
<main class="main">
  {{> ChatSearch/ChatSearch}}
  {{> ChatHead/ChatHead}}
  {{> ChatList/ChatList}}
  {{> Chat/Chat}}
</main>
<script type="module" src="./index.js"></script>
