.profile-item {
  display: flex;

  &::after {
    content: "";
    flex-grow: 1;
    order: 2;
    border-bottom: 1px dashed var(--border-color);
  }
}

.profile-item__property {
  order: 1;
  font-weight: 500;
}

.profile-item__value {
  order: 3;
  color: var(--font-alt-color);
}
