<header class="header">
  <a href="/" class="header__logo-wrapper">
    <picture class="header__logo">
      <source srcset="../../../static/images/logo.webp" type="image/webp" />
      <img src="../../../static/images/logo.png" alt="логотип летчат" />
    </picture>
    <span class="header__name">LetChat</span>
  </a>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li><a href="/" class="header__link">Чаты</a></li>
      <li><a href="../../pages/profile/profile.hbs" class="header__link">Профиль</a></li>
      <li><a href="../../pages/signin/signin.hbs" class="header__link">Вход</a></li>
      <li><a href="../../pages/404/404.hbs" class="header__link">404</a></li>
      <li><a href="../../pages/500/500.hbs" class="header__link">500</a></li>
    </ul>
  </nav>
</header>
