<header class="header">
  <div class="header__logo-wrapper">
    <img src="../../../static/images/logo.webp" alt="логотип летчат" class="header__logo">
    <span class="header__name">LetChat</span>
  </div>
  <nav class="header__nav">
    <a href="/" class="header__link">Чаты</a>
    <a href="../../pages/profile/profile.hbs" class="header__link">Профиль</a>
    <a href="../../pages/signin/signin.hbs" class="header__link">Вход</a>
    <a href="../../pages/404/404.hbs" class="header__link">404</a>
    <a href="../../pages/500/500.hbs" class="header__link">505</a>
  </nav>
</header>
