.header {
  display: flex;
  padding: 32px 32px 16px;
  justify-content: space-between;
  align-items: center;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--font-main-color);
}

.header__logo {
  width: 48px;
  line-height: 0;
}

.header__name {
  font-size: 36px;
  font-weight: 700;
}

.header__nav-list {
  list-style: none;
  display: flex;
}

.header__link {
  padding: 8px 16px;
  text-decoration: none;
  color: var(--font-main-color);
  transition-property: color, border-color;
  transition-duration: var(--transtition-duration);
  border-bottom: 2px solid transparent;

  &:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
