.container {
  display: block;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    .selectBtn {
      background-color: var(--border-hover-color);
    }
  }
}

.input {
  display: none;
}

.placeholder {
  color: var(--placeholder-color);
}

.selectBtn.selectBtn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--border-color);
}
