<form class="profile__form profile-form">
  {{#each formsData.password}}
    {{> ProfileFormField/ProfileFormField this}}
  {{/each}}
  {{> base/Button/Button text="Сохранить" type="submit" class="profile-form__btn" }}
</form>
