.main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
}

.entry__title {
  margin: 16px 0 0;
}

.entry__helper-text {
  margin-bottom: 32px;
}

.entry__form {
  width: 100%;
}

.entry-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 32px;
  border-radius: 12px;
  background-color: var(--bg-content-color);
}
