.container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
}

.title {
  margin: 16px 0 0;
}

.helperText {
  margin-bottom: 32px;
}

.homeLink {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 64px;
  height: 64px;
  border-color: transparent;
  border-radius: 50%;
  line-height: 64px;
  font-size: 32px;
  text-align: center;
  background-color: var(--accent-color);
  cursor: pointer;
}
