.profile-form-field {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.profile-form-field__wrapper {
  width: 70%;
}

.profile-form-field__label {
  font-size: 14px;
}

.profile-form-field__helper-text {
  display: inline-block;
  color: var(--error-color);
  font-size: 14px;
  line-height: 1.5;
  margin-top: 8px;
}
