<div class="chat-item">
  {{> base/Avatar/Avatar size=48 class="chat-item__avatar"}}
  <span class="chat-item__username">{{username}}</span>
  <p class="chat-item__message">{{message}}</p>
  <span class="chat-item__time">{{time}}</span>
  {{#if counter}}
    <span class="chat-item__counter">{{counter}}</span>
  {{/if}}
</div>

