<div class="chat-item">
  {{> base/Avatar/Avatar size=48 class="chat-item__avatar"}}
  <span class="chat-item__username">Вадим</span>
  <p class="chat-item__message">Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.</p>
  <span class="chat-item__time">59:59</span>
  <span class="chat-item__counter">1</span>
</div>
