<form class="{{class}} message-form">
  <label class="message-form__label" for="message"></label>
  <input class="message-form__input" type="text" id="message">
  {{> base/Button/Button icon="base/Icons/SentIcon"}}
</form>
