<form class="{{class}} message-form">
  <label class="message-form__label" for="message">Введите сообщение</label>
  {{> base/Input/Input
    class="message-form__input"
    name="message"
    placeholder="Введите сообщение"
  }}
  <button class="message-form__attach-btn" type="button">
    {{> base/Icons/AttachIcon }}
  </button>
  {{> base/Button/Button class="message-form__sent-btn" icon="base/Icons/SentIcon"}}
</form>
