<header class="header">
  <div class="header__logo-wrapper">
    <img src="../../../static/images/logo.webp" alt="логотип летчат" class="header__logo">
    <span class="header__name">LetChat</span>
  </div>
  <nav class="header__nav">
    <a href="/" class="header__link">Чаты</a>
    <a href="/profile" class="header__link">Профиль</a>
  </nav>
</header>
