.container {
  position: relative;
  display: flex;
  gap: 8px;
}

.input {
  width: 100%;
  padding: 14px 16px 14px 48px;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  outline: 2px solid transparent;
  transition: outline-color var(--transtition-duration);

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:hover {
    outline-color: var(--border-hover-color);
  }

  &:focus {
    outline-color: var(--border-focus-color);
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.createBtn.createBtn {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 16px;
  padding: 0;
}
