.chat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  height: 100%;
  padding-top: 16px;
  border-radius: 16px;
  background-color: var(--bg-content-color);
}

.chat--empty {
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.chat__empty-message {
  color: var(--font-alt-color);
  font-size: 20px;
}

.chat__message-list {
  flex-grow: 1;
}

.chat__divider {
  height: 1px;
  background-color: var(--border-color);
  margin: 0 16px;
}
