<form class="chat-search">
  {{> base/Icons/SearchIcon class="chat-search__icon"}}
  <label class="chat-search__label" for="chat-search"></label>
  <input class="chat-search__input" type="text" name="" id="chat-search" placeholder="Поиск чата">
</form>
