<div class="form-field">
  <label for="input-{{name}}" class="form-field__label">{{label}}</label>
  {{> base/Input/Input}}
  {{#if helper-text}}
    <span class="form-field__helper-text">{{helper-text}}</span>
  {{/if}}
</div>
