---
title: LetChat | Регистрация
styles: ../common.scss
---
{{!< Document}}
<a href="/">На главную</a> <!-- для удобства перехода на главную -->
<main class="main">
  <section class="entry">
    <picture class="entry__logo">
      <source srcset="../../../static/images/logo.webp" type="image/webp" />
      <img src="../../../static/images/logo.png" alt="логотип летчат" />
    </picture>
    <h1 class="entry__title">Регистрация</h1>
    <p class="entry__helper-text">Уже есть аккаунт? <a class="link" href="../signin/signin.hbs">Войти</a></p>
    <form class="entry__form entry-form shadow">
      {{#each formsData.signup}}
        {{> FormField/FormField this}}
      {{/each}}
      {{> base/Button/Button text="Зарегистрироваться" full-width="true" type="submit"}}
    </form>
  </section>
</main>


