---
title: LetChat | Регистрация
styles: ../common.scss
---
{{!< Document}}
<main class="main">
  <section class="signup">
    <img
      class="signup__logo"
      src="../../../static/images/logo.webp"
      width="80"
      height="80"
      alt="логотип летчат"
    >
    <h1 class="signup__title">Регистрация</h1>
    <p class="signup__helper-text">Уже есть аккаунт? <a class="link" href="../signin/signin.hbs">Войти</a></p>
    <form class="signup__form signup-form">
      {{> base/FormField/FormField
        name="signin"
        placeholder="user_name"
        label="Логин"
      }}
      {{> base/FormField/FormField
        name="first_name"
        placeholder="Иван"
        label="Имя"
      }}
      {{> base/FormField/FormField
        name="second_name"
        placeholder="Иванов"
        label="Фамилия"
      }}
      {{> base/FormField/FormField
        name="email"
        placeholder="example@email.com"
        label="Email"
        type="email"
      }}
      {{> base/FormField/FormField
        name="phone"
        placeholder="+7 (123) 456-78-89"
        label="Телефон"
        type="tel"
      }}
      {{> base/FormField/FormField
        name="password"
        label="Пароль"
        type="password"
      }}
      {{> base/FormField/FormField
        name="password_check"
        label="Пароль (ещё раз)"
        type="password"
      }}
      {{> base/Button/Button text="Зарегистрироваться" full-width="true" type="submit"}}
    </form>
  </section>
</main>


