---
title: LetChat | Регистрация
styles: ../common.scss
---
{{!< Document}}
<a href="/">На главную</a> <!-- для удобства перехода на главную -->
<main class="main">
  <section class="signup">
    <img
      class="signup__logo"
      src="../../../static/images/logo.webp"
      width="80"
      height="80"
      alt="логотип летчат"
    >
    <h1 class="signup__title">Регистрация</h1>
    <p class="signup__helper-text">Уже есть аккаунт? <a class="link" href="../signin/signin.hbs">Войти</a></p>
    <form class="signup__form signup-form shadow">
      {{#each formsData.signup}}
        {{> FormField/FormField this}}
      {{/each}}
      {{> base/Button/Button text="Зарегистрироваться" full-width="true" type="submit"}}
    </form>
  </section>
</main>


