@import "normalize.css";
@import "fonts";
@import "vars";

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  background-color: var(--bg-page-color);
  color: var(--font-main-color);
  font-family: "Exo 2", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
