.message-form {
  display: flex;
  gap: 8px;
  padding: 0 16px 16px;
  position: relative;
}

.message-form__label {
  display: none;
}

.message-form__input {
  flex-grow: 1;
  background-color: var(--bg-page-color);
  border: none;
  padding-left: 48px;
}

.message-form__attach-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  top: calc(50% - 4px);
  transform: translateY(-50%);
  left: 28px;
  padding: 0;
  line-height: 0;
  cursor: pointer;

  svg path {
    fill: var(--font-main-color);
  }
}

.message-form__sent-btn {
  padding: 10px;
}
