.button {
  display: flex;
  justify-content: center;
  background-color: var(--btn-color);
  align-items: center;
  gap: 6px;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  color: var(--font-light-color);
  transition-property: background-color, outline-color;
  transition-duration: var(--transtition-duration);
  outline: 3px solid transparent;

  svg path {
    fill: var(--font-light-color)
  }

  &:focus-visible {
    outline-color: var(--btn-focus-color);
  }

  &:hover {
    background-color: var(--btn-hover-color);
  }

  &:active {
    background-color: var(--btn-active-color);
  }

  &--full-width {
    width: 100%;
  }
}
