<button type="{{#if type}}{{type}}{{else}}button{{/if}}" class="{{class}} button {{#if full-width}}button--full-width{{/if}}">
  {{#if icon}}
    {{> (lookup . 'icon')}}
  {{/if}}
  {{text}}
</button>
