.chat-item {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid var(--border-color);
  transition: background-color var(--transtition-duration);

  &:hover {
    background-color: var(--gray-200);
  }

  &:first-child {
    padding-top: 16px;
  }
}

.chat-item__message-wrapper,
.chat-item__meta {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chat-item__message-wrapper {
  width: 178px;
}

.chat-item__meta {
  align-items: center;
}

.chat-item__username {
  font-weight: 600;
  font-size: 14px;
}

.chat-item__message {
  display: -webkit-box;
  overflow: hidden;
  margin: 0;
  color: var(--font-alt-color);
  font-size: 12px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.chat-item__time {
  margin-bottom: auto;
  color: var(--placeholder-color);
  font-size: 12px;
}

.chat-item__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 20px;
  padding: 0 8px;
  border-radius: 50px;
  background-color: var(--accent-color);
  color: var(--font-light-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 0;
}
